
.navbar {
    //height: 100px;
    background-color:  #4169E1;
    margin-bottom: 0;
}


.navbar-header {
    width: 100%;
    .navbar-brand {
        padding: 0;
        height: 100%;
        width: 75%;
    }
}
.nav {
    float: right;
}


.navbar-inverse .navbar-nav  li  a {
    font-size: 20px;
    color: white;
    &:hover {
        color: red;
    }
}

.dropdown-menu {
    display: none;
    .dropdown:hover {
        display: block;
    }
}

.list-group {
    width: 250px;
    float: left;
}
.list-article {
    max-width: 800px;
    float: left;
    margin-left: 30px;
   
}


